/*320px — 480px: Mobile devices*/
@media screen and (max-width: 480px) {
  .text {
    font-size: 20px;
    color: #b4b4b4ff;
    font-family: 'Raleway', sans-serif;
    padding: 3.5%;
  }
  .title {
    font-size: 22px;
    color: #b4b4b4ff;
    font-family: 'Raleway', sans-serif;
    padding: 2%;
  }
  .list {
    font-size: 20px;
    color: #b4b4b4ff;
    font-family: 'Raleway', sans-serif;
    padding: 2.5%;
  }
  body {
    background-color: #272727ff;
  }
  a {
    color: #82a0aa;
  }
}

/*481px — 768px: iPads, Tablets*/
@media screen and (min-width: 481px) and (max-width: 768px) {
  .text {
    font-size: 18px;
    color: #b4b4b4ff;
    font-family: 'Raleway', sans-serif;
    padding: 1.5%;
  }
  .title {
    font-size: 20px;
    color: #b4b4b4ff;
    font-family: 'Raleway', sans-serif;
    padding: 1%;
  }
  .list {
    font-size: 18px;
    color: #b4b4b4ff;
    font-family: 'Raleway', sans-serif;
    padding: 2.5%;
  }
  body {
    background-color: #272727ff;
  }
  a {
    color: #82a0aa;
  }
}

/*769px — 1024px: Small screens, laptops*/
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .text {
    font-size: 16px;
    color: #b4b4b4ff;
    font-family: 'Raleway', sans-serif;
    padding: 1.5%;
  }
  .title {
    font-size: 18px;
    color: #b4b4b4ff;
    font-family: 'Raleway', sans-serif;
    padding: 1%;
  }
  .list {
    font-size: 16px;
    color: #b4b4b4ff;
    font-family: 'Railway', sans-serif;
    padding: 2.5%;
  }
  body {
    background-color: #272727ff;
  }
  a {
    color: #82a0aa;
  }
}

/*1025px — 1200px: Desktops, large screens*/
@media screen and (min-width: 1025px) {
  .text {
    font-size: 16px;
    color: #b4b4b4ff;
    font-family: 'Raleway', sans-serif;
    padding: 1.5%;
  }
  .title {
    font-size: 18px;
    color: #b4b4b4ff;
    font-family: 'Raleway', sans-serif;
    padding: 1%;
  }
  .list {
    font-size: 16px;
    color: #b4b4b4ff;
    font-family: 'Railway', sans-serif;
    padding: 2.5%;
  }
  body {
    background-color: #272727ff;
  }
  a {
    color: #82a0aa;
  }
}
